.adm-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.item-sidenav {
  padding: 20px;
}

.adm-header-icon {
  border: 0px;
}

.adm-spacer {
  flex: 1 1 auto;
}