.home-container {
  padding: 20px;
}
.home-resume {
  width: 75%;
  margin: auto;
  padding: 20px 0px;
}
.example-card {
  width: 50%;
  margin: 20px auto;
  max-width: 400px;
  min-width: 100px;
}
.mat-card-title > strong {
  display: block;
  font-weight: 300;
  margin-top: 20px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.table {
  width: 100%;
}